
<div class="form-inline">
    <input type="text" class="form-control" placeholder="Type to search..." [(ngModel)]="searchString">
    <select (change)="onOptionSelected($event.target.value)" class="form-control">
        <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
    </select>
</div>

<div class="client-list">
    <div class="list-group">
        <app-client-item *ngFor="let client of clients | filter : selectedFilter : searchString" 
            [clientItem]="client">
        </app-client-item>
    </div>
</div>
